 /* Font Link */
 .open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* Shared Style */
  main > section{
    margin-top: 130px;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .display-flex{
    display: flex;
  }
  .Brand{
    font-size: 2.81rem;
    font-weight: bold;
    color: rgba(30, 30, 30, 1);
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .dark-3{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
  }
  .btn-primary{
    padding: 20px 25px;
    border-radius: 7px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: none;
  }
    /* Navbar Style */
  .navbar{
    justify-content: space-between;
    padding: 20px 250px;
    text-align: center;
  }
  .nav-items{
    align-items: center;
    justify-content: center;
  }
  .nav-item{
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: medium;
    color: rgba(66, 66, 66, 1);
  }
  .nav-link{
    list-style: none;
  }
  /* Banner Style */
.banner-content{
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  font-size: 4rem;
  font-weight: bold;
  color: black;
}
.banner-img{
  width: 100%;
  margin-bottom: 50px;
}
/* Our Feature Section */
.feature-containers{
  display: flex;
  align-items: center;
  max-width: 1440px;
}
.img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.feature-content{
  margin-left: 72px;
}
.sub-tittle-2{
  color: black;
  font-size: 2.3rem;
  font-weight: 700;
}
#feature-sub-tittle{
  font-size: 2.5rem;
  font-weight: 600;
}
#sub-tittle-3{
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(255, 144, 14, 1);
}
/* Featured Section  */
.featured-containers{
  display: flex;
  gap: 140px;
}
#featured-line{
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 20px;
}
.featured-tittle{
  font-size: 1.25rem;
  font-weight: 600;
}
.featured-card{
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
#featured-experince{
  padding: 42px 46px;
  font-size: 25px;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
.featured-year{
  font-size: 4.3rem;
  font-weight: 700;
}


/* Some Fact Section */
.card-containers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-container{
  border: 1px solid rgba(255, 144, 14, 1);
  width: 241px;
  height: 241px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img-number{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px;
}
.img-description{
  font-size: 1.1rem;
  font-weight: 600;
}
/* Sponsor Company Section */
.sponsor-info{
  max-width: 540px;
  margin: 24px auto;
  text-align: center;
}
.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter: grayscale(100%);
}
/* Footer Section */
.footer-tittle{
  font-size: 1.1rem;
  text-align: center;
}
.fotter-section{
  background-color: rgba(255, 244, 231, 1);
  max-width: 1420px;
  margin: 130px auto;
  padding: 20px;
  text-align: center;
}
/* Responsive Style Mobile */
@media screen and (max-width: 576px){
  .navbar, 
  .nav-items,
  .feature-containers,
  .fact-container,
  .featured-containers{
    flex-direction: column;
  }
  .navbar{
    padding: 10px 20px;
  }
  .nav-items{
    gap: 10px;
  }
  .featured-img > img{
    width: 100%;
  }
  #featured-experince{
    margin-left: 20px;
    margin-top: 20px;
  }
  /* Grid Layout Section */
  .img-container,
  .card-containers,
  .sponsor-company{
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-content{
    margin-left: 20px;
  }
  .card-containers{
    gap: 24px;
    justify-items: center;
}
.sponsor-company{
  gap: 50px;
  justify-items: center;
}
}